
$primary-color: #CCE5E3 // основной цвет
$secondary-color: #FEE1B6  // вторичный цвет
$accent-color: #EEDEF6 // акцентный цвет
$dark-color: #2F2F2F // темный цвет

$btn-light-primary: #A5CFCB
$btn-dark-primary: #84A8A4

$btn-light-secondary:  #FFF0D3
$btn-dark-secondary:  #E6C090



